.cssload-dots {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    outline: 0px red;
    filter: url(#goo);
    -o-filter: url(#goo);
    -ms-filter: url(#goo);
    -webkit-filter: url(#goo);
    -moz-filter: url(#goo);
    z-index: 99999999;
    background-color: #ffffff !important;
}

.cssload-dot {
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
}
.cssload-dot:before {
    content: "";
    width: 35px;
    height: 35px;
    border-radius: 4px;
    background: #BC293E;
    position: absolute;
    left: 50%;
    transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    margin-left: -19.5px;
    margin-top: -19.5px;
}

.cssload-dot:nth-child(5):before {
    z-index: 100;
    width: 56.5px;
    height: 56.5px;
    margin-left: -25.75px;
    margin-top: -25.75px;
    animation: cssload-dot-colors 5.2s ease infinite;
    -o-animation: cssload-dot-colors 5.2s ease infinite;
    -ms-animation: cssload-dot-colors 5.2s ease infinite;
    -webkit-animation: cssload-dot-colors 5.2s ease infinite;
    -moz-animation: cssload-dot-colors 5.2s ease infinite;
}

.cssload-dot:nth-child(1) {
    animation: cssload-dot-rotate-1 1.2s 0s linear infinite;
    -o-animation: cssload-dot-rotate-1 5.2s 0s linear infinite;
    -ms-animation: cssload-dot-rotate-1 5.2s 0s linear infinite;
    -webkit-animation: cssload-dot-rotate-1 5.2s 0s linear infinite;
    -moz-animation: cssload-dot-rotate-1 5.2s 0s linear infinite;
}
.cssload-dot:nth-child(1):before {
    background-color: #BC293E;
    animation: cssload-dot-move 1.2s 0s ease infinite;
    -o-animation: cssload-dot-move 5.2s 0s ease infinite;
    -ms-animation: cssload-dot-move 5.2s 0s ease infinite;
    -webkit-animation: cssload-dot-move 5.2s 0s ease infinite;
    -moz-animation: cssload-dot-move 5.2s 0s ease infinite;
}

.cssload-dot:nth-child(2) {
    animation: cssload-dot-rotate-2 1.2s 1.3s linear infinite;
    -o-animation: cssload-dot-rotate-2 5.2s 1.3s linear infinite;
    -ms-animation: cssload-dot-rotate-2 5.2s 1.3s linear infinite;
    -webkit-animation: cssload-dot-rotate-2 5.2s 1.3s linear infinite;
    -moz-animation: cssload-dot-rotate-2 5.2s 1.3s linear infinite;
}
.cssload-dot:nth-child(2):before {
    background-color: #D3465B;
    animation: cssload-dot-move 1.2s 1.3s ease infinite;
    -o-animation: cssload-dot-move 5.2s 1.3s ease infinite;
    -ms-animation: cssload-dot-move 5.2s 1.3s ease infinite;
    -webkit-animation: cssload-dot-move 5.2s 1.3s ease infinite;
    -moz-animation: cssload-dot-move 5.2s 1.3s ease infinite;
}

.cssload-dot:nth-child(3) {
    animation: cssload-dot-rotate-3 2.2s 2.6s linear infinite;
    -o-animation: cssload-dot-rotate-3 5.2s 2.6s linear infinite;
    -ms-animation: cssload-dot-rotate-3 5.2s 2.6s linear infinite;
    -webkit-animation: cssload-dot-rotate-3 5.2s 2.6s linear infinite;
    -moz-animation: cssload-dot-rotate-3 5.2s 2.6s linear infinite;
}
.cssload-dot:nth-child(3):before {
    background-color: darckviolet;
    animation: cssload-dot-move 2.2s 2.6s ease infinite;
    -o-animation: cssload-dot-move 5.2s 2.6s ease infinite;
    -ms-animation: cssload-dot-move 5.2s 2.6s ease infinite;
    -webkit-animation: cssload-dot-move 5.2s 2.6s ease infinite;
    -moz-animation: cssload-dot-move 5.2s 2.6s ease infinite;
}

.cssload-dot:nth-child(4) {
    animation: cssload-dot-rotate-4 5.2s 3.9s linear infinite;
    -o-animation: cssload-dot-rotate-4 5.2s 3.9s linear infinite;
    -ms-animation: cssload-dot-rotate-4 5.2s 3.9s linear infinite;
    -webkit-animation: cssload-dot-rotate-4 5.2s 3.9s linear infinite;
    -moz-animation: cssload-dot-rotate-4 5.2s 3.9s linear infinite;
}
.cssload-dot:nth-child(4):before {
    background-color: #D3465B;
    animation: cssload-dot-move 5.2s 3.9s ease infinite;
    -o-animation: cssload-dot-move 5.2s 3.9s ease infinite;
    -ms-animation: cssload-dot-move 5.2s 3.9s ease infinite;
    -webkit-animation: cssload-dot-move 5.2s 3.9s ease infinite;
    -moz-animation: cssload-dot-move 5.2s 3.9s ease infinite;
}

@keyframes cssload-dot-move {
    0% {
        transform: translateY(0);
    }
    18%,
    22% {
        transform: translateY(-79px);
    }
    40%,
    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes cssload-dot-move {
    0% {
        -webkit-transform: translateY(0);
    }
    18%,
    22% {
        -webkit-transform: translateY(-79px);
    }
    40%,
    100% {
        -webkit-transform: translateY(0);
    }
}

@keyframes cssload-dot-colors {
    0% {
        background-color: rgba(211, 70, 91, 0.64);
    }
    25% {
        background-color: rgb(211, 70, 91);
    }
    50% {
        background-color: rgb(211, 70, 91);
    }
    75% {
        background-color: rgba(188, 41, 62, 0.97);
    }
    100% {
        background-color: rgba(188, 41, 62, 0.58);
    }
}

@-webkit-keyframes cssload-dot-colors {
    0% {
        background-color: rgba(211, 70, 91, 0.64);
    }
    25% {
        background-color: rgb(211, 70, 91);
    }
    50% {
        background-color: rgb(211, 70, 91);
    }
    75% {
        background-color: rgba(188, 41, 62, 0.97);
    }
    100% {
        background-color: rgba(188, 41, 62, 0.58);
    }
}

@keyframes cssload-dot-rotate-1 {
    0% {
        transform: rotate(-105deg);
    }
    100% {
        transform: rotate(270deg);
    }
}

@-webkit-keyframes cssload-dot-rotate-1 {
    0% {
        -webkit-transform: rotate(-105deg);
    }
    100% {
        -webkit-transform: rotate(270deg);
    }
}

@keyframes cssload-dot-rotate-2 {
    0% {
        transform: rotate(165deg);
    }
    100% {
        transform: rotate(540deg);
    }
}

@-webkit-keyframes cssload-dot-rotate-2 {
    0% {
        -webkit-transform: rotate(165deg);
    }
    100% {
        -webkit-transform: rotate(540deg);
    }
}

@keyframes cssload-dot-rotate-3 {
    0% {
        transform: rotate(435deg);
    }
    100% {
        transform: rotate(810deg);
    }
}

@-webkit-keyframes cssload-dot-rotate-3 {
    0% {
        -webkit-transform: rotate(435deg);
    }
    100% {
        -webkit-transform: rotate(810deg);
    }
}

@keyframes cssload-dot-rotate-4 {
    0% {
        transform: rotate(705deg);
    }
    100% {
        transform: rotate(1080deg);
    }
}

@-webkit-keyframes cssload-dot-rotate-4 {
    0% {
        -webkit-transform: rotate(705deg);
    }
    100% {
        -webkit-transform: rotate(1080deg);
    }
}
.loader-color{
    width: 100% !important;
    background: #ffffff !important;
    height: 100% !important;
z-index: 9999999999999 !important;
position: absolute;
}